[Unit]
Description=amserver
After=network.target
After=systemd-timesyncd.service
Requires=systemd-timesyncd.service

[Service]
ExecStart=/usr/bin/python3 /home/harald/Moonlight/amcp/amserver.py
Restart=always
User=harald
WorkingDirectory=/home/harald/Moonlight/amcp
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target

