*.sdf
amcp/__pycache__
amcp/log
*.user
x64
.vs
doc/~$ArduMower.pptx
Moonlight.sdf
Moonlight.VC.opendb
amcp/MAP1.TXT
amcp/maps_new.json
amcp/maps_new2.json
amcp/maps_save.json
amcp/tmp.json
src/driver/AmRobotDriver.cpp.bak
src/driver/AmRobotDriver.h.bak
*.bak
mist/
amcp/Messreihe/
amcp/maps - Kopie.json
